<div id="task-cont" *ngIf="groups.length > 0; else elseBlock">
  <app-task-group *ngFor="let g of groups"></app-task-group>
</div>
<ng-template #elseBlock>
  <article>
    <h1>No Tasks Found</h1>
    <aside>
      <button
        class="create-gp"
        (click)="taskGroupCreation = true"
        [disabled]="taskGroupCreation"
      >
        Create a task group
      </button>
    </aside>
  </article>
</ng-template>
<app-lateral-menu [show]="taskGroupCreation">
  <h4 style="text-align: center; top: 10px; position: relative">
    Create Task Group
  </h4>

  <form [formGroup]="taskGroupCreationForm">
    <label style="display: block; margin-left: 20px">Title</label>
    <input
      type="text"
      name="title"
      style="
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
      "
      formControlName="title"
    />
    <label style="display: block; margin-left: 20px">Files</label>
    <app-file-drop></app-file-drop>
    <span style="display: block">
      <input
        type="submit"
        value="Create"
        class="create-gp"
        style="margin: 8px"
        [disabled]="!taskGroupCreation || taskGroupCreationForm.invalid"
      />
      <button
        class="delete-gp"
        style="margin: 8px"
        (click)="taskGroupCreation = false"
        [disabled]="!taskGroupCreation"
      >
        Cancel
      </button>
    </span>
  </form>
</app-lateral-menu>
