<div
  class="media-details"
  (click)="onBackgroundClick($event)"
  @enterLeave
  *ngIf="mService.displaying"
>
  <div [ngSwitch]="media.file.type">
    <div>
      <ng-container *ngSwitchCase="'image'">
        <img [src]="media.dataUrl" />
      </ng-container>
      <ng-container *ngSwitchCase="'video'">
        <video [src]="media.dataUrl"></video>
      </ng-container>
    </div>
    <div class="details-cont">
      <dl>
        <dt>Title</dt>
        <dl>Test</dl>
      </dl>
    </div>
  </div>
</div>
