<span style="display: inline-block; width: 64px; height: 64px; margin: 8px">
  <ng-template
    [ngIf]="file.displayType == displayFileTypeEnum.IMAGE"
    [ngIfElse]="elseBlock"
  >
    <img
      [src]="file.url"
      style="width: 100%; height: 100%; object-fit: contain; border-radius: 8px"
    />
  </ng-template>
  <ng-template #elseBlock>
    <div class="file-data-cont">
      Type: {{ file.type }} Size: {{ file.size }} bytes is Archive ?
      {{ file.displayType == displayFileTypeEnum.ARCHIVE }}
    </div>
  </ng-template>
</span>
