<div class="page-cont">
  <div class="page-form-cont">
    <form class="page-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <h2 id="page-form-title">Sign In</h2>

      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="username"
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
      />
      <input
        type="submit"
        value="Sign In"
        [disabled]="signInForm.invalid || loading"
      />

      <p class="error-msg" #signinerr></p>
    </form>
  </div>
</div>
