<div style="padding: 8px">
  <app-file-drop-file
    *ngFor="let d of files; let i = index"
    [file]="d"
    [index]="i"
    [parent]="this"
  ></app-file-drop-file>
</div>
<input
  style="display: inline-block; width: 60%; font-size: 16px"
  type="file"
  name="files"
  (change)="onChange($event)"
  hidden
  multiple
  #fileInput
/>
<div
  class="file-input"
  id="task-creation-file-drop"
  (click)="fileInput.click()"
  (dragover)="$event.preventDefault()"
  (drop)="onDrop($event)"
>
  <p>Drop Files Here</p>
</div>
