.page-root-cont {
  width: 100vw;
  height: 100vh;
}

.page-cont,
body,
:host {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  position: absolute;
  left: 0;
  top: 0;
}

input {
  border-radius: 6px;
  border: solid rgb(161, 161, 161) 1px;
}

input[type="button"] {
  border: solid rgb(143, 143, 143) 1px;
}

input:focus {
  outline: solid;
  outline-width: 6px;
  outline-color: rgba(128, 128, 128, 0.151);
}

input.ng-invalid.ng-touched {
  outline: solid;
  outline-width: 6px;
  outline-color: rgba(255, 164, 164, 0.596);
}

.error-msg {
  margin-top: 16px;
  margin-bottom: 0px;

  color: red;
  background-color: rgba(255, 0, 0, 0.11);
  border-radius: 4px;
  outline: solid rgba(255, 0, 0, 0.404) 1px;

  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

.error-msg:empty {
  visibility: hidden;
}

.success-msg {
  margin-top: 16px;
  margin-bottom: 0px;

  color: rgb(35, 211, 0);
  background-color: rgba(17, 177, 2, 0.11);
  border-radius: 4px;
  outline: solid rgba(0, 182, 15, 0.404) 1px;

  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

.success-msg:empty {
  visibility: hidden;
}

.create-gp {
  border: none;
  color: white;
  background-color: rgb(69, 143, 69);
  border-radius: 4px;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.create-gp:hover {
  background-color: rgb(92, 168, 92);
}

.create-gp:disabled {
  background-color: rgba(69, 143, 69, 0.425);
  cursor: default;
}

.delete-gp {
  border: none;
  color: white;
  background-color: rgb(143, 69, 69);
  border-radius: 4px;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.delete-gp:hover {
  background-color: rgb(168, 92, 92);
}

.delete-gp:disabled {
  background-color: rgba(143, 69, 69, 0.425);
  cursor: default;
}

.file-input {
  border: dashed 2px rgba(0, 0, 0, 0.212);
  border-radius: 16px;
  color: grey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.file-input:hover {
  cursor: pointer;
}

.file-input > p {
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

ng-icon,
.icon-btn > ng-icon {
  height: auto;
}

.icon-btn {
  background-color: rgb(243, 243, 243);
  border: solid 1px rgb(214, 214, 214);
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  scale: 1;
  transition: scale 100ms ease-in;
  box-shadow: rgba(0, 0, 0, 0.144) 0px 0px 8px;
}

.icon-btn > * {
  margin-left: 6px;
}

.icon-btn:hover {
  scale: 1.3;
  transition: scale 100ms ease-out;
  cursor: pointer;
}

.btn {
  background-color: rgb(248, 248, 248);
  border: rgb(168, 168, 168) solid 2px;
  color: black;
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(226, 226, 226);
  border: rgb(146, 146, 146) solid 2px;
  color: black;
}

.div-cont {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 4px;
  border-radius: 6px;
}

.task-group-cont {
  background-color: rgb(250, 250, 250);
  border: solid 1px rgb(238, 238, 238);
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
  max-width: 360px;
}

.create-task-group-cont {
  border: rgb(184, 214, 178) dotted 3px;
  background-color: rgb(240, 255, 235);
  color: rgb(0, 54, 0);
}

.create-task-group-cont:hover {
  border: rgb(150, 190, 150) dotted 3px;
  background-color: rgb(207, 241, 207);
  cursor: pointer;
}

.create-task-group-btn {
  border: rgb(184, 214, 178) dotted 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 6px;
  background-color: rgb(240, 255, 235);
  color: rgb(7, 82, 7);
}

.create-task-group-btn:hover {
  border: rgb(150, 190, 150) dotted 2px;
  background-color: rgb(207, 241, 207);
  cursor: pointer;
}
