.page-root-cont {
  width: 100vw;
  height: 100vh;
}

.page-cont,
body,
:host {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  position: absolute;
  left: 0;
  top: 0;
}

input {
  border-radius: 6px;
  border: solid rgb(161, 161, 161) 1px;
}

input[type="button"] {
  border: solid rgb(143, 143, 143) 1px;
}

input:focus {
  outline: solid;
  outline-width: 6px;
  outline-color: rgba(128, 128, 128, 0.151);
}

input.ng-invalid.ng-touched {
  outline: solid;
  outline-width: 6px;
  outline-color: rgba(255, 164, 164, 0.596);
}

.error-msg {
  margin-top: 16px;
  margin-bottom: 0px;

  color: red;
  background-color: rgba(255, 0, 0, 0.11);
  border-radius: 4px;
  outline: solid rgba(255, 0, 0, 0.404) 1px;

  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

.error-msg:empty {
  visibility: hidden;
}

.success-msg {
  margin-top: 16px;
  margin-bottom: 0px;

  color: rgb(35, 211, 0);
  background-color: rgba(17, 177, 2, 0.11);
  border-radius: 4px;
  outline: solid rgba(0, 182, 15, 0.404) 1px;

  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

.success-msg:empty {
  visibility: hidden;
}

.create-gp {
  border: none;
  color: white;
  background-color: rgb(69, 143, 69);
  border-radius: 4px;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.create-gp:hover {
  background-color: rgb(92, 168, 92);
}

.create-gp:disabled {
  background-color: rgba(69, 143, 69, 0.425);
  cursor: default;
}

.delete-gp {
  border: none;
  color: white;
  background-color: rgb(143, 69, 69);
  border-radius: 4px;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.delete-gp:hover {
  background-color: rgb(168, 92, 92);
}

.delete-gp:disabled {
  background-color: rgba(143, 69, 69, 0.425);
  cursor: default;
}

.file-input {
  border: dashed 2px rgba(0, 0, 0, 0.212);
  border-radius: 16px;
  color: grey;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.file-input:hover {
  cursor: pointer;
}

.file-input > p {
  display: block;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
